* {
	--light: #101010;
	--neutral: #212121;
	--dark: #303030;

	--primary: rgba(89, 113, 245, 1);
	--primary-1: rgba(89, 113, 245, 0.9);
	--primary-2: rgba(89, 113, 245, 0.75);
	--primary-3: rgba(89, 113, 245, 0.6);
	--primary-4: rgba(89, 113, 245, 0.4);
	--primary-5: rgba(89, 113, 245, 0.2);

	--accent: rgba(121, 145, 255, 1);
	--accent-1: rgba(121, 145, 255, 0.9);
	--accent-2: rgba(121, 145, 255, 0.75);
	--accent-3: rgba(121, 145, 255, 0.6);
	--accent-4: rgba(121, 145, 255, 0.4);
	--accent-5: rgba(121, 145, 255, 0.2);

	--on-light: #ffffff;
	--on-light-1: rgba(255, 255, 255, 0.9);
	--on-light-2: rgba(255, 255, 255, 0.75);
	--on-light-3: rgba(255, 255, 255, 0.6);
	--on-light-4: rgba(255, 255, 255, 0.4);
	--on-light-5: rgba(255, 255, 255, 0.2);

	--on-dark: #000000;
	--on-dark-1: rgba(0, 0, 0, 0.9);
	--on-dark-2: rgba(0, 0, 0, 0.75);
	--on-dark-3: rgba(0, 0, 0, 0.6);
	--on-dark-4: rgba(0, 0, 0, 0.4);
	--on-dark-5: rgba(0, 0, 0, 0.2);
}

.nav-logo > img {
	filter: contrast(0) brightness(2);
}
