* {
	font-family: "Open Sans", sans-serif;
	box-sizing: border-box;

	--light: #fafafa;
	--neutral: #f0f0f0;
	--dark: #e0e0e0;

	--primary: rgba(30, 43, 111, 1);
	--primary-1: rgba(30, 43, 111, 0.9);
	--primary-2: rgba(30, 43, 111, 0.75);
	--primary-3: rgba(30, 43, 111, 0.6);
	--primary-4: rgba(30, 43, 111, 0.4);
	--primary-5: rgba(30, 43, 111, 0.2);

	--accent: rgba(121, 145, 255, 1);
	--accent-1: rgba(121, 145, 255, 0.9);
	--accent-2: rgba(121, 145, 255, 0.75);
	--accent-3: rgba(121, 145, 255, 0.6);
	--accent-4: rgba(121, 145, 255, 0.4);
	--accent-5: rgba(121, 145, 255, 0.2);

	--on-light: #000000;
	--on-light-1: rgba(0, 0, 0, 0.9);
	--on-light-2: rgba(0, 0, 0, 0.75);
	--on-light-3: rgba(0, 0, 0, 0.6);
	--on-light-4: rgba(0, 0, 0, 0.4);
	--on-light-5: rgba(0, 0, 0, 0.2);

	--on-dark: #ffffff;
	--on-dark-1: rgba(255, 255, 255, 0.9);
	--on-dark-2: rgba(255, 255, 255, 0.75);
	--on-dark-3: rgba(255, 255, 255, 0.6);
	--on-dark-4: rgba(255, 255, 255, 0.4);
	--on-dark-5: rgba(255, 255, 255, 0.2);
}

body {
	display: flex;
	margin: 0;
	min-height: 100vh;

	background-color: var(--light);
	color: var(--on-light);
}

/* component styles (reusable elements) */

/* text */
p {
	color: var(--on-light-2);
}

/* link */
a {
	color: var(--primary);
}

/* button */
.button {
	display: inline-flex;
	padding: 16px;
	outline: none;
	border: none;
	border-radius: 56px;
	text-decoration: none;
	font-weight: bold;

	color: var(--on-light-3);
	background-color: transparent;

	transition: color .25s, background-color .25s, box-shadow .25s;
}

.button.active {
	color: var(--primary);
}

.button:hover {
	color: var(--primary);
	background-color: var(--accent-5);
}

.button:active, .button:focus {
	color: var(--on-light);
	background-color: var(--accent-5);

	box-shadow: 0 0 0 3px var(--primary-4);
}

.button-primary {
	color: var(--on-dark);
	background-color: var(--primary);
}

.button-primary:hover, .button-primary:active, .button-primary:focus {
	color: var(--on-dark);
	background-color: var(--primary-2);
}

.button-neutral {
	color: var(--on-light-2);
	background-color: var(--neutral);
	box-shadow: 0 0 0 1px var(--on-light-5);
}

.button-neutral:hover {
	box-shadow: 0 0 0 1px var(--accent);
}

.button-neutral:active, .button-neutral:focus {
	box-shadow: 0 0 0 3px var(--primary-4);
}

.button-accent {
	color: var(--primary);
	background-color: var(--accent-5);
	box-shadow: 0 0 0 1px var(--accent);
}

.button-accent:hover {
	background-color: var(--accent-4);
}

.button > .material-icons {
	margin-right: 12px;
}

/* material-icons styles (prevent user selection) */
.material-icons {
	user-select: none;
}

/* image styles */
img {
	max-width: 100%;
}

img.img-round {
	border-radius: 50%;
	border: 1px solid var(--on-light);
}

/* text input styles */
input[type=text],
input[type=email],
input[type=password] {
	padding: 8px;

	background-color: var(--neutral);
	border: 1px solid var(--on-light-5);
	border-radius: 4px;
}

/* panel / surface component (used for small "card" layouts) */
.card {
	display: inline-block;
	background-color: var(--light);
	border-radius: 8px;
	box-shadow: 0 0.4rem 1.2rem var(--on-light-5);
}

/* user-item (small element displaying basic user info) */
.user-item {
	display: inline-flex;
	align-items: center;
}

.user-item img {
	height: 42px;
	width: 42px;
	margin-right: 12px;
}

.user-item div {
	flex-grow: 1;
}

.user-item div > .user-name {
	display: block;
	color: var(--on-light-1);
}

.user-item div > .user-id {
	display: block;
	color: var(--on-light-3);
}

/* page styles (specific page components) */

nav {
	display: flex;
	flex-direction: column;
	min-width: 320px;
	max-width: 0px;
	padding: 16px 0;
	overflow: hidden;

	max-height: 100vh;
	position: sticky;
	top: 0;

	background-color: var(--neutral);
	box-shadow: 0 0 1.2rem var(--on-light-5);

	transition: min-width .25s;
}

nav[hidden] {
	min-width: 0;
}

nav > * {
	margin: 0 16px;
}

.nav-logo {
	font-family: 'Unica One', cursive;
	font-weight: normal;
	font-size: 2em;
	padding: 0 16px;
	margin-bottom: 18px;

	display: flex;
	align-items: center;
	user-select: none;
}

.nav-logo > img {
	height: 24px;
	width: 24px;
	margin-right: 12px;
}

.nav-list {
	list-style: none;
	padding: 0;
	flex-grow: 1;
}

.nav-list > .button {
	display: flex;
}

main {
	flex-grow: 1;
	flex-shrink: 0;
}

header {
	display: flex;
	padding: 16px;
	align-items: center;
}

header .nav-toggle {
	background: none;
	border: none;
	color: var(--on-light-4);
	text-decoration: none;
}

header .nav-toggle > .material-icons {
	display: block;
}

header .search-form {
	flex-grow: 1;
	text-align: center;
}

header .search-input {
	width: 50%;
	padding: 12px;
	text-align: center;
}

header .header-image > img {
	display: block;
	height: 42px;
	width: 42px;
}

/* login page */
#login-form {
	display: flex;
	flex-direction: column;
	align-items: center;

	background: linear-gradient(
		-28deg,
		var(--primary-4),
		var(--accent-2)
	);

	width: 100%;
	height: 100vh;
}

#login-form > .nav-logo {
	margin-bottom: 64px;
}

#login-form > h1:not(.nav-logo) {
	margin: 0;
}

#login-form > .card {
	display: inline-flex;
	flex-direction: column;
	align-items: center;

	margin-top: 32px;
	padding: 32px;
}

#login-form > .card > input {
	text-align: center;
	justify-content: center;
	margin: 8px 0;
	width: 200px;
}
