{% extends "_base.html" %}
{% block bodycontent %}
<nav id="sidebar">
	<h1 class="nav-logo">
		<img src="/static/img/logo.svg">
		Acufuncture
	</h1>

	<div class="nav-list">
		<a href="/" class="button{% if request.path == "/" %} active{% endif %}">
			<i class="material-icons">home</i>
			Home
		</a>
		<a href="/" class="button{% if request.path.startswith("/explore") %} active{% endif %}">
			<i class="material-icons">public</i>
			Explore
		</a>
		<a href="/notifications" class="button{% if request.path.startswith("/notifications") %} active{% endif %}">
			<i class="material-icons">notifications</i>
			Notifications
		</a>
		<a href="/@{{ user.id }}" class="button{% if request.path.startswith("/@") %} active{% endif %}">
			<i class="material-icons">person</i>
			Profile
		</a>
	</div>

	<a href="/@{{ user.id }}" class="user-item button">
		<img class="img-round" src="{{ user.image }}">
		<div>
			<span class="user-name">{{ user.name }}</span>
			<span class="user-id">@{{ user.id }}</span>
		</div>
	</a>
</nav>

<main>
	<header>
		<a id="sidebar-toggle" class="nav-toggle" href="#"><i class="material-icons">menu</i></a>
		<form id="search-form" class="search-form" action="/search" enctype="application/x-www-form-urlencoded">
			<input id="search-input" class="search-input" name="q" type="text" placeholder="Search for a friend (to poke)..." value="{{ page.query }}">
		</form>
		<a class="header-image" href="/@{{ user.id }}">
			<img class="img-round" src="{{ user.image }}">
		</a>
	</header>

	{% block content %}{% endblock %}
</main>
{% endblock %}
