{% extends "_page.html" %}

{% block content %}
{% if user['name'] == user['id'] %}
<div class="card" style="display: block; text-align: center;">
	<h3>Set up your profile!</h3>
	<p>Visit the <a href="/@{{ user['id'] }}/edit">profile page</a> to finish configuring your new account.</p>
</div>
{% else %}

<div>
	<h1>Poke someone new!</h1>
	{%for user in page.suggestions %}
	<div class="user-item button" onclick="location.href = '/@{{ user['id'] }}';" style="margin: 0 -16px;">
		<img class="img-round" src="{{ user.image }}">
		<div>
			<span class="user-name">{{ user.name }}</span>
			<span class="user-id">@{{ user['id'] }}</span>
		</div>
		<a class="button button-neutral" href="/@{{ user['id'] }}">Poke</a>
	</div>
	{% endfor %}
</div>

{% endif %}
{% endblock %}
