{% extends "_page.html" %}

{% block title %}<h1>{{ user.name }}'s Profile</h1>{% endblock %}

{% block content %}
<!-- This is the user file for {{ user.name }} (@{{ user.id }}). -->

<div id="profile-area">
    <label for="poke">Poke {{ user.name }}!</label>
    <button id="poke-button"><img id="profile-image" src="{{ user.image }}" alt="Profile image of {{ user.name }}"></button>
    <h2 id="profile-display-name">{{ user.name }}</h2>
    <h3 id="profile-username">{{ user.id }}</h3>
    <p id="profile-description">{{ user.bio }}</p>
</div>

<div id="poke-statistics-area">
    <canvas id="poke-interval-chart" aria-label="{{ user.name }}'s poke statistics over time" role="img"></canvas>
</div>

{% endblock %}
