{% extends "_page.html" %}

{% block title %}{{ page.user.name }}'s Profile{% endblock %}

{% block content %}
<!-- This is the user file for {{ page.user.name }} (@{{ page.user.id }}). -->

<div id="profile-area">
    <label for="poke">Poke {{ page.user.name }}!</label>
    <button id="poke-button"><img id="profile-image" src="{{ page.user.image }}" alt="Profile image of {{ page.user.name }}"></button>
    <h2 id="profile-display-name">{{ page.user.name }}</h2>
    <h3 id="profile-username">{{ page.user.id }}</h3>
    <p id="profile-description">{{ page.user.bio }}</p>
</div>

<div id="poke-statistics-area">
    <canvas id="poke-interval-chart" aria-label="{{ page.user.name }}'s poke statistics over time" role="img"></canvas>
</div>

{% endblock %}
