{% extends "_page.html" %}

{% block title %}Edit Profile{% endblock %}

{% block content %}
<div id="profile-area">
    <div id="poke-button">
        <img class="img-round" id="profile-image-poke" src="{{ page.user['image'] }}" alt="Change your profile picture">
    </div>

	<form style="text-align: left;" action="/@{{ page.user['id'] }}/edit" method="POST" enctype="multipart/form-data" autocomplete="off">
		<h1>Edit Profile</h1>

		<label for="edit-image"><small>Profile Image</small></label><br>
		<input id="edit-image" name="image" type="file" accept="image/*">
		<br><br>

		<label for="edit-name"><small>Display Name</small></label><br>
		<input id="edit-name" name="name" type="text" value="{{ page.user['name'] }}">
		<br><br>

		<label for="edit-bio"><small>Bio</small></label><br>
		<textarea id="edit-bio" name="bio" rows="5" cols="50">{{ page.user['bio'] }}</textarea>
		<br><br>

		<input class="button button-primary" type="submit" value="Save changes">
		<a class="button" href="/@{{ page.user['id'] }}">Cancel</a>
	</form>
</div>
{% endblock %}
